:root {
  /* GENERAL COLOR VARIABLES */
  --qelp-link:#E60032;
  --qelp-link-hover:#D10B2C;
  --qelp-link-active:#80001C;
  --qelp-link-secondary:#160004;
  --qelp-link-secondary-hover:#000000;
  --qelp-link-secondary-active:#000000;
  --qelp-accent:#E60032;
  --qelp-accent-hover:#DF2700;
  --qelp-accent-active:#80001C;
  --qelp-headers:#E60032;
  --qelp-headers-hover:#D10B2C;
  --qelp-headers-active:#80001C;
  --qelp-headers-secondary:#E60032;
  --qelp-headers-secondary-hover:#D10B2C;
  --qelp-headers-secondary-active:#80001C;
  --qelp-headers-dark-bg:#FFFFFF;
  --qelp-headers-dark-bg-hover:#FFFFFF;
  --qelp-headers-dark-bg-active:#FFFFFF;
  --qelp-body:#444444;
  --qelp-body-hover:#262626;
  --qelp-body-active:#0D0D0D;
  --qelp-muted:#A8A8AC;
  --qelp-muted-hover:#8A8A8F;
  --qelp-muted-active:#707075;
  --qelp-line:#CACACA;
  --qelp-line-hover:#B3B3B3;
  --qelp-line-active:#999999;
  --qelp-tint:#F6F6F6;
  --qelp-tint-hover:#D9D9D9;
  --qelp-tint-active:#BFBFBF;
  --qelp-light:#FFFFFF;
  --qelp-background:#E9E9EA;
  --qelp-background-accent:#F6F6F6;
  --qelp-background-light:#F6F6F6;
  --qelp-background-dark:#000000;
  --qelp-qlicker:#E60032;
  --qelp-qlicker-pulse:#D10B2C;
  --qelp-error:#CD0400;

  /* FONT VARIABLES */
  --qelp-font-family: 'AlbertRegular';
  --qelp-font-family-light: 'AlbertLight';
  --qelp-font-family-bold: 'AlbertBold';

  --qelp-font-family-secondary: 'Cyclone-Background';
  --qelp-font-family-secondary-light: 'Cyclone-Background';
  --qelp-font-family-secondary-bold: 'Cyclone-Background';

  --qelp-h1-font-family: 'Cyclone-Background';
  --qelp-h1-font-size: 48px;
  --qelp-h1-line-height: 60px;
  --qelp-h1-font-weight: 500;
  --qelp-h1-color: #E60032;

  --qelp-h1-mobile-font-family: 'Cyclone-Background';
  --qelp-h1-mobile-font-size: 48px;
  --qelp-h1-mobile-line-height: 40px;
  --qelp-h1-mobile-font-weight: 500;
  --qelp-h1-mobile-color: #E60032;

  --qelp-h2-font-family: 'Cyclone-Background';
  --qelp-h2-font-size: 34px;
  --qelp-h2-line-height: 35px;
  --qelp-h2-font-weight: 500;
  --qelp-h2-color: #E60032;

  --qelp-h2-mobile-font-family: 'Cyclone-Background';
  --qelp-h2-mobile-font-size: 34px;
  --qelp-h2-mobile-line-height: 35px;
  --qelp-h2-mobile-font-weight: 500;
  --qelp-h2-mobile-color: #E60032;

  --qelp-h3-font-family: 'Cyclone-Background';
  --qelp-h3-font-size: 18px;
  --qelp-h3-line-height: 30px;
  --qelp-h3-font-weight: 500;
  --qelp-h3-color: #E60032;

  --qelp-h3-mobile-font-family: 'Cyclone-Background';
  --qelp-h3-mobile-font-size: 18px;
  --qelp-h3-mobile-line-height: 30px;
  --qelp-h3-mobile-font-weight: 500;
  --qelp-h3-mobile-color: #E60032;

  --qelp-body-font-family: 'AlbertRegular';
  --qelp-body-font-size: 16px;
  --qelp-body-line-height: 22px;
  --qelp-body-font-weight: 400;

  --qelp-body-bold-font-family: 'AlbertRegular';
  --qelp-body-bold-font-size: 16px;
  --qelp-body-bold-line-height: 22px;
  --qelp-body-bold-font-weight: 700;

  --qelp-body-cards-font-family: 'AlbertRegular';
  --qelp-body-cards-font-size: 14px;
  --qelp-body-cards-line-height: 15px;
  --qelp-body-cards-font-weight: 400;

  --qelp-body-cards-mobile-font-family: 'AlbertRegular';
  --qelp-body-cards-mobile-font-size: 14px;
  --qelp-body-cards-mobile-line-height: 15px;
  --qelp-body-cards-mobile-font-weight: 400;

  --qelp-small-font-family: 'AlbertRegular';
  --qelp-small-font-size: 13px;
  --qelp-small-line-height: 15px;
  --qelp-small-font-weight: 400;

  /* BUTTON VARIABLES */

  /* Normal - size and font */
  --qelp-button-normal-font-family: 'AlbertRegular';
  --qelp-button-normal-font-size: 16px;
  --qelp-button-normal-line-height: 15px;
  --qelp-button-normal-font-weight: 500;
  --qelp-button-normal-min-width: 68px;
  --qelp-button-normal-text-transform: none;

  /* Large - size and font */
  --qelp-button-large-font-family: 'AlbertRegular';
  --qelp-button-large-font-size: 18px;
  --qelp-button-large-line-height: 15px;
  --qelp-button-large-font-weight: 500;
  --qelp-button-large-min-width: 78px;
  --qelp-button-large-text-transform: none;

  /* Primary - styles and colors */
  --qelp-button-primary-background-color: #E60032;
  --qelp-button-primary-color: #FFFFFF;
  --qelp-button-primary-text-decoration: none;

  --qelp-button-primary-hover-background-color: #D10B2C;
  --qelp-button-primary-hover-color: #FFFFFF;
  --qelp-button-primary-hover-text-decoration: none;

  --qelp-button-primary-focus-border: 1px solid #E60032;
  --qelp-button-primary-focus-outline: none;
  --qelp-button-primary-focus-text-decoration: none;
  --qelp-button-primary-focus-background-color: #31A412;
  --qelp-button-primary-focus-color: #FFFFFF;
  --qelp-button-primary-focus-box-shadow: 0 0 0 1px #666666;

  --qelp-button-primary-active-text-decoration: none;
  --qelp-button-primary-active-background-color: #80001C;
  --qelp-button-primary-active-color: #FFFFFF;

  --qelp-button-primary-disabled-text-decoration: none;
  --qelp-button-primary-disabled-background-color: #A8A8AC;
  --qelp-button-primary-disabled-color: #FFFFFF;

  /* Secondary - styles and colors */
  --qelp-button-secondary-background-color: rgba(230, 0, 50, 0.5);
  --qelp-button-secondary-color: #FFFFFF;
  --qelp-button-secondary-border: 1px solid rgba(230, 0, 50, 0.5);
  --qelp-button-secondary-text-decoration: none;

  --qelp-button-secondary-hover-text-decoration: none;
  --qelp-button-secondary-hover-border: 1px solid rgba(209, 11, 44, 0.5);
  --qelp-button-secondary-hover-color: #FFFFFF;
  --qelp-button-secondary-hover-background-color: rgba(209, 11, 44, 0.5);

  --qelp-button-secondary-focus-outline: none;
  --qelp-button-secondary-focus-text-decoration: none;
  --qelp-button-secondary-focus-border: 1px solid #rgba(230, 0, 50, 0.5);
  --qelp-button-secondary-focus-color: #FFFFFF;
  --qelp-button-secondary-focus-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #272726;
  --qelp-button-secondary-focus-background-color: rgba(230, 0, 50, 0.5);

  --qelp-button-secondary-active-text-decoration: none;
  --qelp-button-secondary-active-border: 1px solid rgba(230, 0, 50, 0.5);
  --qelp-button-secondary-active-color: #FFFFFF;
  --qelp-button-secondary-active-background-color: rgba(230, 0, 50, 0.5);

  --qelp-button-secondary-disabled-text-decoration: none;
  --qelp-button-secondary-disabled-border: 1px solid #A8A8AC;
  --qelp-button-secondary-disabled-color: #FFFFFF;
  --qelp-button-secondary-disabled-background-color: #A8A8AC;

  /* Others - general */
  --qelp-button-border-radius: 4px;

  /* CARDS VARIABLES */

  /* Product Tiles */
  --qelp-product-tiles-color: #160004;
  --qelp-product-tiles-background-color: #F8F8F8;
  --qelp-product-tiles-box-shadow: none;
  --qelp-product-tiles-border: 2px solid transparent;

  --qelp-product-tiles-hover-color: #160004;
  --qelp-product-tiles-hover-background-color: #F8F8F8;
  --qelp-product-tiles-hover-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
  --qelp-product-tiles-hover-border: 2px solid transparent;

  --qelp-product-tiles-focus-color: #160004;
  --qelp-product-tiles-focus-background-color: #F8F8F8;
  --qelp-product-tiles-focus-box-shadow: none;
  --qelp-product-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-product-tiles-active-color: #160004;
  --qelp-product-tiles-active-background-color: #F8F8F8;
  --qelp-product-tiles-active-box-shadow: none;
  --qelp-product-tiles-active-border: 2px solid #E60032;

  --qelp-product-tiles-border-radius: 5px;

  /* Manufacturer Tiles */
  --qelp-manufacturer-tiles-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  --qelp-manufacturer-tiles-border: 2px solid transparent;

  --qelp-manufacturer-tiles-hover-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-hover-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  --qelp-manufacturer-tiles-hover-border: 2px solid transparent;

  --qelp-manufacturer-tiles-focus-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-focus-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-manufacturer-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-manufacturer-tiles-active-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-manufacturer-tiles-active-border: 2px solid #E60032;

  --qelp-manufacturer-tiles-border-radius: 20px;

  /* Featured Manufacturer Tiles */
  --qelp-featured-manufacturer-tiles-background-color: transparent;
  --qelp-featured-manufacturer-tiles-border: 1px solid #CED4DA;

  --qelp-featured-manufacturer-tiles-hover-background-color: transparent;
  --qelp-featured-manufacturer-tiles-hover-border: 1px solid #CED4DA;

  --qelp-featured-manufacturer-tiles-focus-background-color: transparent;
  --qelp-featured-manufacturer-tiles-focus-border: 1px solid #4D4D4D;

  --qelp-featured-manufacturer-tiles-active-background-color: transparent;
  --qelp-featured-manufacturer-tiles-active-border: 1px solid #CED4DA;

  --qelp-featured-manufacturer-tiles-border-radius: 5px;

  /* OS Tiles */
  --qelp-os-tiles-color: #E60032;
  --qelp-os-tiles-background-color: #FFFFFF;
  --qelp-os-tiles-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-border: 2px solid transparent;

  --qelp-os-tiles-hover-color: #D10B2C;
  --qelp-os-tiles-hover-background-color: #FFFFFF;
  --qelp-os-tiles-hover-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  --qelp-os-tiles-hover-border: 2px solid transparent;

  --qelp-os-tiles-focus-color: #80001C;
  --qelp-os-tiles-focus-background-color: #FFFFFF;
  --qelp-os-tiles-focus-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-os-tiles-active-color: #80001C;
  --qelp-os-tiles-active-background-color: #FFFFFF;
  --qelp-os-tiles-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-active-border: 2px solid #E60032;

  --qelp-os-tiles-border-radius: 5px;

  /* SEARCHBOX GENERAL VARIABLES */

  --qelp-searchbox-border: 1px solid #CACACA;
  --qelp-searchbox-border-radius: 50px;
  --qelp-searchbox-result-background: #F8F8F8;

  /* ACCORDION VARIABLES */

  --qelp-accordion-title-font-family: 'AlbertRegular';
  --qelp-accordion-title-font-size: 18px;
  --qelp-accordion-title-line-height: 30px;
  --qelp-accordion-title-font-weight: 500;

  /* BREADCRUMB VARIABLES */

  --qelp-breadcrumb-font-family: 'AlbertRegular';
  --qelp-breadcrumb-font-size: 18px;
  --qelp-breadcrumb-line-height: 30px;
  --qelp-breadcrumb-font-weight: 500;
  --qelp-breadcrumb-font-color: #E60032;
  --qelp-breadcrumb-font-color-hover: #D10B2C;
  --qelp-breadcrumb-font-color-active: #80001C;
  --qelp-breadcrumb-active-font-color: #444444;

  /* NAVIGATION LINKS VARIABLES */

  --qelp-navigation-links-font-family: 'AlbertRegular';
  --qelp-navigation-links-font-size: 16px;
  --qelp-navigation-links-line-height: 22px;
  --qelp-navigation-links-font-weight: 400;
  --qelp-navigation-links-icon-color: #160004;
  --qelp-navigation-links-icon-color-hover: #262626;
  --qelp-navigation-links-icon-color-active: #0D0D0D;
  --qelp-navigation-links-text-color: #160004;
  --qelp-navigation-links-text-color-hover: #262626;
  --qelp-navigation-links-text-color-active: #0D0D0D;

  /* CATEGORY TOPICS VARIABLES */

  --qelp-category-topics-title-font-family: 'AlbertRegular';
  --qelp-category-topics-title-font-size: 18px;
  --qelp-category-topics-title-line-height: 30px;
  --qelp-category-topics-title-font-weight: 500;
  --qelp-category-topics-title-text-color: #E60032;

  /* LIST ITEMS VARIABLES */

  --qelp-list-items-font-family: 'AlbertRegular';
  --qelp-list-items-font-size: 16px;
  --qelp-list-items-line-height: 22px;
  --qelp-list-items-font-weight: 400;
  --qelp-list-items-text-color: #160004;
  --qelp-list-items-text-color-hover: #000000;
  --qelp-list-items-text-color-active: #000000;
  --qelp-list-items-icon-color: #E60032;

  /* FEATURED COMPONENTS VARIABLES */

  /* Categories */
  --qelp-featured-categories-button-position: flex-start;

  /* Topics */
  --qelp-featured-topics-button-position: flex-start;

  /* Devices */
  --qelp-featured-devices-button-position: flex-start;

  /* Manufacturers */
  --qelp-featured-manufacturers-button-position: flex-start;

  /* Category Topics */
  --qelp-featured-category-topics-button-position: flex-start;


  /* GENERAL VARIABLES */
  --qelp-space-unit: 5px;

  --qelp-spacer: 30px;
  --qelp-spacer-mobile: 30px;
}

@font-face {
  font-family: 'Cyclone-Background';
  src: local('Cyclone-Background'), url('https://brunoeris.github.io/store-assets-staging/assets/callmedk/fonts/Cyclone-Background-Font.otf') format('woff');
}

@font-face {
  font-family: 'AlbertRegular';
  src: local('AlbertRegular'), url('https://brunoeris.github.io/store-assets-staging/assets/callmedk/fonts/AlbertRegular.woff') format('woff');
}

@font-face {
  font-family: 'AlbertBold';
  src: local('AlbertBold'), url('https://brunoeris.github.io/store-assets-staging/assets/callmedk/fonts/AlbertBold.woff') format('woff');
}

@font-face {
  font-family: 'AlbertLight';
  src: local('AlbertLight'), url('https://brunoeris.github.io/store-assets-staging/assets/callmedk/fonts/AlbertLight.woff') format('woff');
}
