:root {
  /* GENERAL COLOR VARIABLES */
  --qelp-link:#E60032;
  --qelp-link-hover:#D10B2C;
  --qelp-link-active:#80001C;
  --qelp-accent:#E60032;
  --qelp-accent-hover:#DF2700;
  --qelp-accent-active:#80001C;
  --qelp-headers:#E60032;
  --qelp-headers-hover:#D10B2C;
  --qelp-headers-active:#80001C;
  --qelp-body:#444444;
  --qelp-body-hover:#262626;
  --qelp-body-active:#0D0D0D;
  --qelp-muted:#A8A8AC;
  --qelp-muted-hover:#8A8A8F;
  --qelp-muted-active:#707075;
  --qelp-line:#CACACA;
  --qelp-line-hover:#B3B3B3;
  --qelp-line-active:#999999;
  --qelp-tint:#F6F6F6;
  --qelp-tint-hover:#D9D9D9;
  --qelp-tint-active:#BFBFBF;
  --qelp-light:#FFFFFF;
  --qelp-background:#E9E9EA;
  --qelp-qlicker:#E60032;
  --qelp-qlicker-pulse:#D10B2C;
  --qelp-error:#CD0400;

  /* FONT VARIABLES */
  --qelp-font-family: 'Albert';
  --qelp-font-family-light: 'Albert';
  --qelp-font-family-bold: 'Albert';

  --qelp-h1-desktop-font-size: 42px;
  --qelp-h1-desktop-line-height: 60px;
  --qelp-h1-desktop-font-weight: 800;

  --qelp-h1-mobile-font-size: 30px;
  --qelp-h1-mobile-line-height: 40px;
  --qelp-h1-mobile-font-weight: 800;

  --qelp-h2-font-size: 24px;
  --qelp-h2-line-height: 35px;
  --qelp-h2-font-weight: 700;

  --qelp-h3-font-size: 18px;
  --qelp-h3-line-height: 30px;
  --qelp-h3-font-weight: 400;

  --qelp-body-font-size: 16px;
  --qelp-body-line-height: 22px;
  --qelp-body-font-weight: 400;

  --qelp-small-font-size: 13px;
  --qelp-small-line-height: 15px;
  --qelp-small-font-weight: 400;

  /* BUTTON VARIABLES */

  /* Normal - size and font */
  --qelp-button-normal-font-size: 16px;
  --qelp-button-normal-line-height: 15px;
  --qelp-button-normal-font-weight: 700;
  --qelp-button-normal-min-width: 68px;

  /* Large - size and font */
  --qelp-button-large-font-size: 18px;
  --qelp-button-large-line-height: 15px;
  --qelp-button-large-font-weight: 700;

  /* Primary - styles and colors */
  --qelp-button-primary-background-color: #E60032;
  --qelp-button-primary-color: #FFFFFF;
  --qelp-button-primary-text-decoration: none;

  --qelp-button-primary-hover-background-color: #D10B2C;
  --qelp-button-primary-hover-color: #FFFFFF;
  --qelp-button-primary-hover-text-decoration: none;

  --qelp-button-primary-focus-border: 1px solid #E60032;
  --qelp-button-primary-focus-outline: none;
  --qelp-button-primary-focus-text-decoration: none;
  --qelp-button-primary-focus-background-color: #31A412;
  --qelp-button-primary-focus-color: #FFFFFF;
  --qelp-button-primary-focus-box-shadow: 0 0 0 1px #666666;

  --qelp-button-primary-active-text-decoration: none;
  --qelp-button-primary-active-background-color: #80001C;
  --qelp-button-primary-active-color: #FFFFFF;

  --qelp-button-primary-disabled-text-decoration: none;
  --qelp-button-primary-disabled-background-color: #A8A8AC;
  --qelp-button-primary-disabled-color: #FFFFFF;

  /* Secondary - styles and colors */
  --qelp-button-secondary-background-color: rgba(230, 0, 50, 0.5);
  --qelp-button-secondary-color: #FFFFFF;
  --qelp-button-secondary-border: 1px solid rgba(230, 0, 50, 0.5);
  --qelp-button-secondary-text-decoration: none;

  --qelp-button-secondary-hover-text-decoration: none;
  --qelp-button-secondary-hover-border: 1px solid rgba(209, 11, 44, 0.5);
  --qelp-button-secondary-hover-color: #FFFFFF;
  --qelp-button-secondary-hover-background-color: rgba(209, 11, 44, 0.5);

  --qelp-button-secondary-focus-outline: none;
  --qelp-button-secondary-focus-text-decoration: none;
  --qelp-button-secondary-focus-border: 1px solid #rgba(230, 0, 50, 0.5);
  --qelp-button-secondary-focus-color: #FFFFFF;
  --qelp-button-secondary-focus-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #272726;
  --qelp-button-secondary-focus-background-color: rgba(230, 0, 50, 0.5);

  --qelp-button-secondary-active-text-decoration: none;
  --qelp-button-secondary-active-border: 1px solid rgba(230, 0, 50, 0.5);
  --qelp-button-secondary-active-color: #FFFFFF;
  --qelp-button-secondary-active-background-color: rgba(230, 0, 50, 0.5);

  --qelp-button-secondary-disabled-text-decoration: none;
  --qelp-button-secondary-disabled-border: 1px solid #A8A8AC;
  --qelp-button-secondary-disabled-color: #FFFFFF;
  --qelp-button-secondary-disabled-background-color: #A8A8AC;


  /* Others - general */
  --qelp-button-border-radius: 4px;

  /* GENERAL VARIABLES */
  --qelp-space-unit: 5px;
}

@font-face {
  font-family: 'Albert';
  src: local('Albert'), url('https://brunoeris.github.io/store-assets/assets/callmedk/fonts/Albert.woff') format('woff');
}
