:root {
  /* GENERAL COLOR VARIABLES */
  --qelp-link:#ED0000;
  --qelp-link-hover:#B30000;
  --qelp-link-active:#800000;
  --qelp-link-secondary:#595B61;
  --qelp-link-secondary-hover:#3F4145;
  --qelp-link-secondary-active:#27282B;
  --qelp-accent:#ED0000;
  --qelp-accent-hover:#B30000;
  --qelp-accent-active:#800000;
  --qelp-headers:#ED0000;
  --qelp-headers-hover:#B30000;
  --qelp-headers-active:#800000;
  --qelp-headers-secondary:#ED0000;
  --qelp-headers-secondary-hover:#B30000;
  --qelp-headers-secondary-active:#800000;
  --qelp-body:#312332;
  --qelp-body-hover:#1A1A1A;
  --qelp-body-active:#000000;
  --qelp-muted:#E1E1E1;
  --qelp-muted-hover:#CCCCCC;
  --qelp-muted-active:#B3B3B3;
  --qelp-line:#999999;
  --qelp-line-hover:#808080;
  --qelp-line-active:#666666;
  --qelp-tint:#F3F4F5;
  --qelp-tint-hover:#D5D9DC;
  --qelp-tint-active:#BABFC5;
  --qelp-light:#FFFFFF;
  --qelp-background:#E1E1E1;
  --qelp-background-accent:#E1E1E1;
  --qelp-background-light:#F6F6F6;
  --qelp-background-dark:#000000;
  --qelp-qlicker:#ED0000;
  --qelp-qlicker-pulse:#B30000;
  --qelp-error:#CD0400;

  /* FONT VARIABLES */
  --qelp-font-family: 'VM Circular Book';
  --qelp-font-family-light: 'VM Circular Book';
  --qelp-font-family-bold: 'VM Circular Book';

  --qelp-font-family-secondary: 'VM Circular Black';
  --qelp-font-family-secondary-light: 'VM Circular Black';
  --qelp-font-family-secondary-bold: 'VM Circular Black';

  --qelp-h1-font-family: 'VM Circular Black';
  --qelp-h1-font-size: 42px;
  --qelp-h1-line-height: 60px;
  --qelp-h1-font-weight: 800;
  --qelp-h1-color: #ED0000;

  --qelp-h1-mobile-font-family: 'VM Circular Black';
  --qelp-h1-mobile-font-size: 30px;
  --qelp-h1-mobile-line-height: 40px;
  --qelp-h1-mobile-font-weight: 800;
  --qelp-h1-mobile-color: #ED0000;

  --qelp-h2-font-family: 'VM Circular Medium';
  --qelp-h2-font-size: 19.2px;
  --qelp-h2-line-height: 35px;
  --qelp-h2-font-weight: 700;
  --qelp-h2-color: #ED0000;

  --qelp-h2-mobile-font-family: 'VM Circular Medium';
  --qelp-h2-mobile-font-size: 19.2px;
  --qelp-h2-mobile-line-height: 35px;
  --qelp-h2-mobile-font-weight: 700;
  --qelp-h2-mobile-color: #ED0000;

  --qelp-h3-font-family: 'VM Circular Medium';
  --qelp-h3-font-size: 18px;
  --qelp-h3-line-height: 30px;
  --qelp-h3-font-weight: 700;
  --qelp-h3-color: #ED0000;

  --qelp-h3-mobile-font-family: 'VM Circular Medium';
  --qelp-h3-mobile-font-size: 20px;
  --qelp-h3-mobile-line-height: 30px;
  --qelp-h3-mobile-font-weight: 700;
  --qelp-h3-mobile-color: #ED0000;

  --qelp-body-font-family: 'VM Circular Book';
  --qelp-body-font-size: 16px;
  --qelp-body-line-height: 22px;
  --qelp-body-font-weight: 400;

  --qelp-body-bold-font-family: 'VM Circular Book';
  --qelp-body-bold-font-size: 16px;
  --qelp-body-bold-line-height: 22px;
  --qelp-body-bold-font-weight: 700;

  --qelp-body-cards-font-family: 'VM Circular Book';
  --qelp-body-cards-font-size: 12px;
  --qelp-body-cards-line-height: 15px;
  --qelp-body-cards-font-weight: 400;

  --qelp-body-cards-mobile-font-family: 'VM Circular Book';
  --qelp-body-cards-mobile-font-size: 12px;
  --qelp-body-cards-mobile-line-height: 15px;
  --qelp-body-cards-mobile-font-weight: 400;

  --qelp-small-font-family: 'VM Circular Book';
  --qelp-small-font-size: 13px;
  --qelp-small-line-height: 15px;
  --qelp-small-font-weight: 400;

  /* BUTTON VARIABLES */

  /* Normal - size and font */
  --qelp-button-normal-font-family: 'VM Circular Book';
  --qelp-button-normal-font-size: 16px;
  --qelp-button-normal-line-height: 15px;
  --qelp-button-normal-font-weight: 700;
  --qelp-button-normal-min-width: 68px;
  --qelp-button-normal-text-transform: uppercase;

  /* Large - size and font */
  --qelp-button-large-font-family: 'VM Circular Book';
  --qelp-button-large-font-size: 18px;
  --qelp-button-large-line-height: 15px;
  --qelp-button-large-font-weight: 700;
  --qelp-button-large-min-width: 78px;
  --qelp-button-large-text-transform: uppercase;

  /* Primary - styles and colors */
  --qelp-button-primary-background-color: #ED0000;
  --qelp-button-primary-color: #FFFFFF;
  --qelp-button-primary-text-decoration: none;

  --qelp-button-primary-hover-background-color: #B30000;
  --qelp-button-primary-hover-color: #FFFFFF;
  --qelp-button-primary-hover-text-decoration: none;
  --qelp-button-primary-hover-box-shadow: none;

  --qelp-button-primary-focus-border: 1px solid transparent;
  --qelp-button-primary-focus-outline: none;
  --qelp-button-primary-focus-text-decoration: none;
  --qelp-button-primary-focus-background-color: #ED0000;
  --qelp-button-primary-focus-color: #FFFFFF;
  --qelp-button-primary-focus-box-shadow: 0 0 0 1px #333333;

  --qelp-button-primary-active-text-decoration: none;
  --qelp-button-primary-active-background-color: #800000;
  --qelp-button-primary-active-color: #FFFFFF;
  --qelp-button-primary-active-box-shadow: none;

  --qelp-button-primary-disabled-text-decoration: none;
  --qelp-button-primary-disabled-background-color: #999999;
  --qelp-button-primary-disabled-color: #FFFFFF;
  --qelp-button-primary-disabled-box-shadow: none;

  /* Secondary - styles and colors */
  --qelp-button-secondary-background-color: transparent;
  --qelp-button-secondary-color: #ED0000;
  --qelp-button-secondary-border: 1px solid #ED0000;
  --qelp-button-secondary-text-decoration: none;

  --qelp-button-secondary-hover-text-decoration: none;
  --qelp-button-secondary-hover-border: 1px solid #B30000;
  --qelp-button-secondary-hover-color: #B30000;
  --qelp-button-secondary-hover-background-color: transparent;
  --qelp-button-secondary-hover-box-shadow: none;

  --qelp-button-secondary-focus-outline: none;
  --qelp-button-secondary-focus-text-decoration: none;
  --qelp-button-secondary-focus-border: 1px solid #ED0000;
  --qelp-button-secondary-focus-color: #ED0000;
  --qelp-button-secondary-focus-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #333333;
  --qelp-button-secondary-focus-background-color: transparent;

  --qelp-button-secondary-active-text-decoration: none;
  --qelp-button-secondary-active-border: 1px solid #800000;
  --qelp-button-secondary-active-color: #800000;
  --qelp-button-secondary-active-background-color: transparent;
  --qelp-button-secondary-active-box-shadow: none;

  --qelp-button-secondary-disabled-text-decoration: none;
  --qelp-button-secondary-disabled-border: 1px solid #999999;
  --qelp-button-secondary-disabled-color: #999999;
  --qelp-button-secondary-disabled-background-color: transparent;
  --qelp-button-secondary-disabled-box-shadow: none;

  /* Others - general */
  --qelp-button-border-radius: 50px;

  /* CARDS VARIABLES */

  /* Product Tiles */
  --qelp-product-tiles-color: #ED0000;
  --qelp-product-tiles-background-color: #F8F8F8;
  --qelp-product-tiles-box-shadow: none;
  --qelp-product-tiles-border: 2px solid transparent;

  --qelp-product-tiles-hover-color: #B30000;
  --qelp-product-tiles-hover-background-color: #F8F8F8;
  --qelp-product-tiles-hover-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
  --qelp-product-tiles-hover-border: 2px solid transparent;

  --qelp-product-tiles-focus-color: #800000;
  --qelp-product-tiles-focus-background-color: #F8F8F8;
  --qelp-product-tiles-focus-box-shadow: none;
  --qelp-product-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-product-tiles-active-color: #800000;
  --qelp-product-tiles-active-background-color: #F8F8F8;
  --qelp-product-tiles-active-box-shadow: none;
  --qelp-product-tiles-active-border: 2px solid #ED0000;

  --qelp-product-tiles-border-radius: 5px;

  /* Manufacturer Tiles */
  --qelp-manufacturer-tiles-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  --qelp-manufacturer-tiles-border: 2px solid transparent;

  --qelp-manufacturer-tiles-hover-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-hover-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  --qelp-manufacturer-tiles-hover-border: 2px solid transparent;

  --qelp-manufacturer-tiles-focus-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-focus-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-manufacturer-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-manufacturer-tiles-active-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-manufacturer-tiles-active-border: 2px solid #ED0000;

  --qelp-manufacturer-tiles-border-radius: 20px;

  /* Featured Manufacturer Tiles */
  --qelp-featured-manufacturer-tiles-background-color: transparent;
  --qelp-featured-manufacturer-tiles-border: 1px solid #CED4DA;

  --qelp-featured-manufacturer-tiles-hover-background-color: transparent;
  --qelp-featured-manufacturer-tiles-hover-border: 1px solid #CED4DA;

  --qelp-featured-manufacturer-tiles-focus-background-color: transparent;
  --qelp-featured-manufacturer-tiles-focus-border: 1px solid #4D4D4D;

  --qelp-featured-manufacturer-tiles-active-background-color: transparent;
  --qelp-featured-manufacturer-tiles-active-border: 1px solid #CED4DA;

  --qelp-featured-manufacturer-tiles-border-radius: 5px;

  /* OS Tiles */
  --qelp-os-tiles-color: #ED0000;
  --qelp-os-tiles-background-color: #FFFFFF;
  --qelp-os-tiles-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-border: 2px solid transparent;

  --qelp-os-tiles-hover-color: #B30000;
  --qelp-os-tiles-hover-background-color: #FFFFFF;
  --qelp-os-tiles-hover-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  --qelp-os-tiles-hover-border: 2px solid transparent;

  --qelp-os-tiles-focus-color: #800000;
  --qelp-os-tiles-focus-background-color: #FFFFFF;
  --qelp-os-tiles-focus-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-os-tiles-active-color: #800000;
  --qelp-os-tiles-active-background-color: #FFFFFF;
  --qelp-os-tiles-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-active-border: 2px solid #ED0000;

  --qelp-os-tiles-border-radius: 5px;

  /* SEARCHBOX GENERAL VARIABLES */

  --qelp-searchbox-border: 1px solid #999999;
  --qelp-searchbox-border-radius: 50px;
  --qelp-searchbox-result-background: #F8F8F8;

  /* ACCORDION VARIABLES */

  --qelp-accordion-title-font-family: 'VM Circular Book';
  --qelp-accordion-title-font-size: 20px;
  --qelp-accordion-title-line-height: 30px;
  --qelp-accordion-title-font-weight: 700;

  /* BREADCRUMB VARIABLES */

  --qelp-breadcrumb-font-family: 'VM Circular Book';
  --qelp-breadcrumb-font-size: 16px;
  --qelp-breadcrumb-line-height: 22px;
  --qelp-breadcrumb-font-weight: 700;
  --qelp-breadcrumb-font-color: #312332;
  --qelp-breadcrumb-font-color-hover: #1A1A1A;
  --qelp-breadcrumb-font-color-active: #000000;
  --qelp-breadcrumb-active-font-color: #ED0000;

  /* NAVIGATION LINKS VARIABLES */

  --qelp-navigation-links-font-family: 'VM Circular Book';
  --qelp-navigation-links-font-size: 16px;
  --qelp-navigation-links-line-height: 22px;
  --qelp-navigation-links-font-weight: 400;
  --qelp-navigation-links-icon-color: #ED0000;
  --qelp-navigation-links-icon-color-hover: #B30000;
  --qelp-navigation-links-icon-color-active: #800000;
  --qelp-navigation-links-text-color: #ED0000;
  --qelp-navigation-links-text-color-hover: #B30000;
  --qelp-navigation-links-text-color-active: #800000;

  /* CATEGORY TOPICS VARIABLES */

  --qelp-category-topics-title-font-family: 'VM Circular Book';
  --qelp-category-topics-title-font-size: 18px;
  --qelp-category-topics-title-line-height: 30px;
  --qelp-category-topics-title-font-weight: 700;
  --qelp-category-topics-title-text-color: #ED0000;

  /* LIST ITEMS VARIABLES */

  --qelp-list-items-font-family: 'VM Circular Book';
  --qelp-list-items-font-size: 16px;
  --qelp-list-items-line-height: 22px;
  --qelp-list-items-font-weight: 400;
  --qelp-list-items-text-color: #595B61;
  --qelp-list-items-text-color-hover: #3F4145;
  --qelp-list-items-text-color-active: #27282B;
  --qelp-list-items-icon-color: #595B61;

  /* FEATURED COMPONENTS VARIABLES */

  /* Categories */
  --qelp-featured-categories-button-position: flex-start;

  /* Topics */
  --qelp-featured-topics-button-position: flex-start;

  /* Devices */
  --qelp-featured-devices-button-position: flex-start;

  /* Manufacturers */
  --qelp-featured-manufacturers-button-position: flex-start;

  /* Category Topics */
  --qelp-featured-category-topics-button-position: flex-start;


  /* GENERAL VARIABLES */
  --qelp-space-unit: 5px;

  --qelp-spacer: 40px;
  --qelp-spacer-mobile: 40px;
}
