:root {
  /* GENERAL COLOR VARIABLES */
  --qelp-link:#38BC15;
  --qelp-link-hover:#2A8E10;
  --qelp-link-active:#1D600B;
  --qelp-link-secondary:#666666;
  --qelp-link-secondary-hover:#4D4D4D;
  --qelp-link-secondary-active:#333333;
  --qelp-accent:#EF3E33;
  --qelp-accent-hover:#DE1D11;
  --qelp-accent-active:#AF170E;
  --qelp-headers:#EF3E33;
  --qelp-headers-hover:#C62417;
  --qelp-headers-active:#AF170E;
  --qelp-headers-secondary:#666666;
  --qelp-headers-secondary-hover:#4D4D4D;
  --qelp-headers-secondary-active:#333333;
  --qelp-headers-dark-bg:#FFFFFF;
  --qelp-headers-dark-bg-hover:#FFFFFF;
  --qelp-headers-dark-bg-active:#FFFFFF;
  --qelp-body:#9B9B9B;
  --qelp-body-hover:#828282;
  --qelp-body-active:#696969;
  --qelp-muted:#ABB5BA;
  --qelp-muted-hover:#8F9CA3;
  --qelp-muted-active:#73848C;
  --qelp-line:#E3E6E8;
  --qelp-line-hover:#C7CED1;
  --qelp-line-active:#ABB5BA;
  --qelp-tint:#F8F8F8;
  --qelp-tint-hover:#DBDFE1;
  --qelp-tint-active:#BEC6CA;
  --qelp-light:#FFFFFF;
  --qelp-background:#F3F3F3;
  --qelp-background-accent:#FDEDD3;
  --qelp-background-light:#F6F6F6;
  --qelp-background-dark:#000000;
  --qelp-qlicker:#EF3E33;
  --qelp-qlicker-pulse:#AF170E;
  --qelp-error:#BA0000;

  /* FONT VARIABLES */
  --qelp-font-family: 'DIN2014-Regular';
  --qelp-font-family-light: 'DIN2014-Light';
  --qelp-font-family-bold: 'DIN2014-Bold';

  --qelp-font-family-secondary: 'DIN2014-Regular';
  --qelp-font-family-secondary-light: 'DIN2014-Light';
  --qelp-font-family-secondary-bold: 'DIN2014-Bold';

  --qelp-h1-desktop-font-family: 'DIN2014-Regular';
  --qelp-h1-desktop-font-size: 42px;
  --qelp-h1-desktop-line-height: 60px;
  --qelp-h1-desktop-font-weight: 800;

  --qelp-h1-mobile-font-family: 'DIN2014-Regular';
  --qelp-h1-mobile-font-size: 30px;
  --qelp-h1-mobile-line-height: 40px;
  --qelp-h1-mobile-font-weight: 800;

  --qelp-h2-font-family: 'DIN2014-Regular';
  --qelp-h2-font-size: 24px;
  --qelp-h2-line-height: 35px;
  --qelp-h2-font-weight: 700;

  --qelp-h2-mobile-font-family: 'DIN2014-Regular';
  --qelp-h2-mobile-font-size: 24px;
  --qelp-h2-mobile-line-height: 35px;
  --qelp-h2-mobile-font-weight: 700;

  --qelp-h3-font-family: 'DIN2014-Regular';
  --qelp-h3-font-size: 18px;
  --qelp-h3-line-height: 30px;
  --qelp-h3-font-weight: 400;

  --qelp-h3-mobile-font-family: 'DIN2014-Regular';
  --qelp-h3-mobile-font-size: 18px;
  --qelp-h3-mobile-line-height: 30px;
  --qelp-h3-mobile-font-weight: 400;

  --qelp-body-font-family: 'DIN2014-Regular';
  --qelp-body-font-size: 16px;
  --qelp-body-line-height: 22px;
  --qelp-body-font-weight: 400;

  --qelp-body-bold-font-family: 'DIN2014-Regular';
  --qelp-body-bold-font-size: 16px;
  --qelp-body-bold-line-height: 22px;
  --qelp-body-bold-font-weight: 700;

  --qelp-body-cards-font-family: 'DIN2014-Regular';
  --qelp-body-cards-font-size: 12px;
  --qelp-body-cards-line-height: 15px;
  --qelp-body-cards-font-weight: 400;

  --qelp-body-cards-mobile-font-family: 'DIN2014-Regular';
  --qelp-body-cards-mobile-font-size: 12px;
  --qelp-body-cards-mobile-line-height: 15px;
  --qelp-body-cards-mobile-font-weight: 400;

  --qelp-small-font-family: 'DIN2014-Regular';
  --qelp-small-font-size: 13px;
  --qelp-small-line-height: 15px;
  --qelp-small-font-weight: 400;

  /* BUTTON VARIABLES */

  /* Normal - size and font */
  --qelp-button-normal-font-family: 'DIN2014-Regular';
  --qelp-button-normal-font-size: 16px;
  --qelp-button-normal-line-height: 15px;
  --qelp-button-normal-font-weight: 700;
  --qelp-button-normal-min-width: 68px;
  --qelp-button-normal-text-transform: uppercase;

  /* Large - size and font */
  --qelp-button-large-font-family: 'DIN2014-Regular';
  --qelp-button-large-font-size: 18px;
  --qelp-button-large-line-height: 15px;
  --qelp-button-large-font-weight: 700;
  --qelp-button-large-min-width: 78px;
  --qelp-button-large-text-transform: uppercase;

  /* Primary - styles and colors */
  --qelp-button-primary-background-color: #38BC15;
  --qelp-button-primary-color: #FFFFFF;
  --qelp-button-primary-text-decoration: none;

  --qelp-button-primary-hover-background-color: #31A412;
  --qelp-button-primary-hover-color: #FFFFFF;
  --qelp-button-primary-hover-text-decoration: none;

  --qelp-button-primary-focus-border: 1px solid #FFFFFF;
  --qelp-button-primary-focus-outline: none;
  --qelp-button-primary-focus-text-decoration: none;
  --qelp-button-primary-focus-background-color: #31A412;
  --qelp-button-primary-focus-color: #FFFFFF;
  --qelp-button-primary-focus-box-shadow: 0 0 0 1px #666666;

  --qelp-button-primary-active-text-decoration: none;
  --qelp-button-primary-active-background-color: #31A412;
  --qelp-button-primary-active-color: #FFFFFF;

  --qelp-button-primary-disabled-text-decoration: none;
  --qelp-button-primary-disabled-background-color: #ABB5BA;
  --qelp-button-primary-disabled-color: #FFFFFF;

  /* Secondary - styles and colors */
  --qelp-button-secondary-background-color: transparent;
  --qelp-button-secondary-color: #9B9B9B;
  --qelp-button-secondary-border: 1px solid #9B9B9B;
  --qelp-button-secondary-text-decoration: none;

  --qelp-button-secondary-hover-text-decoration: none;
  --qelp-button-secondary-hover-border: 1px solid #666666;
  --qelp-button-secondary-hover-color: #666666;
  --qelp-button-secondary-hover-background-color: transparent;

  --qelp-button-secondary-focus-outline: none;
  --qelp-button-secondary-focus-text-decoration: none;
  --qelp-button-secondary-focus-border: 1px solid #666666;
  --qelp-button-secondary-focus-color: #666666;
  --qelp-button-secondary-focus-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #666666;
  --qelp-button-secondary-focus-background-color: transparent;

  --qelp-button-secondary-active-text-decoration: none;
  --qelp-button-secondary-active-border: 1px solid #666666;
  --qelp-button-secondary-active-color: #666666;
  --qelp-button-secondary-active-background-color: transparent;

  --qelp-button-secondary-disabled-text-decoration: none;
  --qelp-button-secondary-disabled-border: 1px solid #DDDDDD;
  --qelp-button-secondary-disabled-color: #DDDDDD;
  --qelp-button-secondary-disabled-background-color: transparent;


  /* Others - general */
  --qelp-button-border-radius: 32px;

  /* CARDS VARIABLES */

  /* Product Tiles */
  --qelp-product-tiles-color: #38BC15;
  --qelp-product-tiles-background-color: #F8F8F8;
  --qelp-product-tiles-box-shadow: none;
  --qelp-product-tiles-border: 2px solid transparent;

  --qelp-product-tiles-hover-color: #2A8E10;
  --qelp-product-tiles-hover-background-color: #F8F8F8;
  --qelp-product-tiles-hover-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
  --qelp-product-tiles-hover-border: 2px solid transparent;

  --qelp-product-tiles-focus-color: #1D600B;
  --qelp-product-tiles-focus-background-color: #F8F8F8;
  --qelp-product-tiles-focus-box-shadow: none;
  --qelp-product-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-product-tiles-active-color: #1D600B;
  --qelp-product-tiles-active-background-color: #F8F8F8;
  --qelp-product-tiles-active-box-shadow: none;
  --qelp-product-tiles-active-border: 2px solid #38BC15;

  --qelp-product-tiles-border-radius: 5px;

  /* Manufacturer Tiles */
  --qelp-manufacturer-tiles-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  --qelp-manufacturer-tiles-border: 2px solid transparent;

  --qelp-manufacturer-tiles-hover-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-hover-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  --qelp-manufacturer-tiles-hover-border: 2px solid transparent;

  --qelp-manufacturer-tiles-focus-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-focus-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-manufacturer-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-manufacturer-tiles-active-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-manufacturer-tiles-active-border: 2px solid #38BC15;

  --qelp-manufacturer-tiles-border-radius: 20px;

  /* OS Tiles */
  --qelp-os-tiles-color: #38BC15;
  --qelp-os-tiles-background-color: #FFFFFF;
  --qelp-os-tiles-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-border: 2px solid transparent;

  --qelp-os-tiles-hover-color: #2A8E10;
  --qelp-os-tiles-hover-background-color: #FFFFFF;
  --qelp-os-tiles-hover-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  --qelp-os-tiles-hover-border: 2px solid transparent;

  --qelp-os-tiles-focus-color: #1D600B;
  --qelp-os-tiles-focus-background-color: #FFFFFF;
  --qelp-os-tiles-focus-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-os-tiles-active-color: #1D600B;
  --qelp-os-tiles-active-background-color: #FFFFFF;
  --qelp-os-tiles-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-active-border: 2px solid #38BC15;

  --qelp-os-tiles-border-radius: 5px;

  /* ACCORDION VARIABLES */

  --qelp-accordion-title-font-family: 'DIN2014-Regular';
  --qelp-accordion-title-font-size: 18px;
  --qelp-accordion-title-line-height: 30px;
  --qelp-accordion-title-font-weight: 400;

  /* BREADCRUMB VARIABLES */

  --qelp-breadcrumb-font-family: 'DIN2014-Regular';
  --qelp-breadcrumb-font-size: 18px;
  --qelp-breadcrumb-line-height: 30px;
  --qelp-breadcrumb-font-weight: 400;
  --qelp-breadcrumb-active-font-color: #9B9B9B;

  /* NAVIGATION LINKS VARIABLES */

  --qelp-navigation-links-font-family: 'DIN2014-Regular';
  --qelp-navigation-links-font-size: 16px;
  --qelp-navigation-links-line-height: 22px;
  --qelp-navigation-links-font-weight: 400;
  --qelp-navigation-links-icon-color: #38BC15;
  --qelp-navigation-links-icon-color-hover: #2A8E10;
  --qelp-navigation-links-icon-color-active: #1D600B;
  --qelp-navigation-links-text-color: #38BC15;
  --qelp-navigation-links-text-color-hover: #2A8E10;
  --qelp-navigation-links-text-color-active: #1D600B;

  /* CATEGORY TOPICS VARIABLES */

  --qelp-category-topics-title-font-family: 'DIN2014-Regular';
  --qelp-category-topics-title-font-size: 18px;
  --qelp-category-topics-title-line-height: 30px;
  --qelp-category-topics-title-font-weight: 400;

  /* BACKGROUNDS */

  /* Search */
  --qelp-search-background: #F8F8F8;

  /* GENERAL VARIABLES */
  --qelp-space-unit: 5px;

  --qelp-spacer: 40px;
  --qelp-spacer-mobile: 40px;
}

@font-face {
  font-family: 'DIN2014-Regular';
  src: local('DIN2014-Regular'), url('https://brunoeris.github.io/store-assets-staging/fonts/DIN2014-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DIN2014-Light';
  src: local('DIN2014-Light'), url('https://brunoeris.github.io/store-assets-staging/fonts/DIN2014-Light.woff') format('woff');
}

@font-face {
  font-family: 'DIN2014-Bold';
  src: local('DIN2014-Bold'), url('https://brunoeris.github.io/store-assets-staging/fonts/DIN2014-Bold.woff') format('woff');
}
