:root {
  /* GENERAL COLOR VARIABLES */
  --qelp-link:#CD0400;
  --qelp-link-hover:#DF2700;
  --qelp-link-active:#801500;
  --qelp-link-secondary:#595B61;
  --qelp-link-secondary-hover:#3F4145;
  --qelp-link-secondary-active:#27282B;
  --qelp-accent:#CD0400;
  --qelp-accent-hover:#DF2700;
  --qelp-accent-active:#801500;
  --qelp-headers:#000000;
  --qelp-headers-hover:#000000;
  --qelp-headers-active:#000000;
  --qelp-headers-secondary:#000000;
  --qelp-headers-secondary-hover:#000000;
  --qelp-headers-secondary-active:#000000;
  --qelp-headers-dark-bg:#FFFFFF;
  --qelp-headers-dark-bg-hover:#FFFFFF;
  --qelp-headers-dark-bg-active:#FFFFFF;
  --qelp-body:#444444;
  --qelp-body-hover:#262626;
  --qelp-body-active:#0D0D0D;
  --qelp-muted:#555555;
  --qelp-muted-hover:#404040;
  --qelp-muted-active:#262626;
  --qelp-line:#CCCCCC;
  --qelp-line-hover:#B3B3B3;
  --qelp-line-active:#999999;
  --qelp-tint:#F3F4F5;
  --qelp-tint-hover:#D5D9DC;
  --qelp-tint-active:#BABFC5;
  --qelp-light:#FFFFFF;
  --qelp-background:#F5F5F5;
  --qelp-background-accent:#F6F6F6;
  --qelp-background-light:#F6F6F6;
  --qelp-background-dark:#000000;
  --qelp-qlicker:#CD0400;
  --qelp-qlicker-pulse:#DF2700;
  --qelp-error:#CD0400;

  /* FONT VARIABLES */
  --qelp-font-family: 'Mr Alex';
  --qelp-font-family-light: 'Mr Alex Light';
  --qelp-font-family-bold: 'Mr Alex Bold';

  --qelp-font-family-secondary: 'Foro Sans';
  --qelp-font-family-secondary-light: 'Foro Sans Light';
  --qelp-font-family-secondary-bold: 'Foro Sans Bold';

  --qelp-h1-desktop-font-family: 'Mr Alex';
  --qelp-h1-desktop-font-size: 48px;
  --qelp-h1-desktop-line-height: 60px;
  --qelp-h1-desktop-font-weight: 700;

  --qelp-h1-mobile-font-family: 'Mr Alex';
  --qelp-h1-mobile-font-size: 32px;
  --qelp-h1-mobile-line-height: 40px;
  --qelp-h1-mobile-font-weight: 700;

  --qelp-h2-font-family: 'Mr Alex';
  --qelp-h2-font-size: 24px;
  --qelp-h2-line-height: 35px;
  --qelp-h2-font-weight: 700;

  --qelp-h2-mobile-font-family: 'Mr Alex';
  --qelp-h2-mobile-font-size: 24px;
  --qelp-h2-mobile-line-height: 35px;
  --qelp-h2-mobile-font-weight: 700;

  --qelp-h3-font-family: 'Mr Alex';
  --qelp-h3-font-size: 20px;
  --qelp-h3-line-height: 30px;
  --qelp-h3-font-weight: 700;

  --qelp-h3-mobile-font-family: 'Mr Alex';
  --qelp-h3-mobile-font-size: 20px;
  --qelp-h3-mobile-line-height: 30px;
  --qelp-h3-mobile-font-weight: 700;

  --qelp-body-font-family: 'Circular Book';
  --qelp-body-font-size: 16px;
  --qelp-body-line-height: 22px;
  --qelp-body-font-weight: 400;

  --qelp-body-bold-font-family: 'Circular Book';
  --qelp-body-bold-font-size: 16px;
  --qelp-body-bold-line-height: 22px;
  --qelp-body-bold-font-weight: 700;

  --qelp-body-cards-font-family: 'Circular Book';
  --qelp-body-cards-font-size: 12px;
  --qelp-body-cards-line-height: 15px;
  --qelp-body-cards-font-weight: 400;

  --qelp-body-cards-mobile-font-family: 'Circular Book';
  --qelp-body-cards-mobile-font-size: 12px;
  --qelp-body-cards-mobile-line-height: 15px;
  --qelp-body-cards-mobile-font-weight: 400;

  --qelp-small-font-family: 'Circular Book';
  --qelp-small-font-size: 12px;
  --qelp-small-line-height: 15px;
  --qelp-small-font-weight: 400;

  /* BUTTON VARIABLES */

  /* Normal - size and font */
  --qelp-button-normal-font-family: 'Circular Book';
  --qelp-button-normal-font-size: 14px;
  --qelp-button-normal-line-height: 13px;
  --qelp-button-normal-font-weight: 600;
  --qelp-button-normal-min-width: 68px;
  --qelp-button-normal-text-transform: uppercase;

  /* Large - size and font */
  --qelp-button-large-font-family: 'Circular Book';
  --qelp-button-large-font-size: 16px;
  --qelp-button-large-line-height: 13px;
  --qelp-button-large-font-weight: 600;
  --qelp-button-large-min-width: 78px;
  --qelp-button-large-text-transform: uppercase;

  /* Primary - styles and colors */
  --qelp-button-primary-background-color: #CD0400;
  --qelp-button-primary-color: #FFFFFF;
  --qelp-button-primary-text-decoration: none;

  --qelp-button-primary-hover-background-color: #DF2700;
  --qelp-button-primary-hover-color: #FFFFFF;
  --qelp-button-primary-hover-text-decoration: none;

  --qelp-button-primary-focus-border: 1px solid #FFFFFF;
  --qelp-button-primary-focus-outline: none;
  --qelp-button-primary-focus-text-decoration: none;
  --qelp-button-primary-focus-background-color: #CD0400;
  --qelp-button-primary-focus-color: #FFFFFF;
  --qelp-button-primary-focus-box-shadow: 0 0 0 1px #333333;

  --qelp-button-primary-active-text-decoration: none;
  --qelp-button-primary-active-background-color: #801500;
  --qelp-button-primary-active-color: #FFFFFF;

  --qelp-button-primary-disabled-text-decoration: none;
  --qelp-button-primary-disabled-background-color: #555555;
  --qelp-button-primary-disabled-color: #FFFFFF;

  /* Secondary - styles and colors */
  --qelp-button-secondary-background-color: #E2E4E1;
  --qelp-button-secondary-color: #575756;
  --qelp-button-secondary-border: 1px solid transparent;
  --qelp-button-secondary-text-decoration: none;

  --qelp-button-secondary-hover-text-decoration: none;
  --qelp-button-secondary-hover-border: 1px solid transparent;
  --qelp-button-secondary-hover-color: #575756;
  --qelp-button-secondary-hover-background-color: #E2E4E1;

  --qelp-button-secondary-focus-outline: none;
  --qelp-button-secondary-focus-text-decoration: none;
  --qelp-button-secondary-focus-border: 1px solid transparent;
  --qelp-button-secondary-focus-color: #575756;
  --qelp-button-secondary-focus-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #333333;
  --qelp-button-secondary-focus-background-color: #E2E4E1;

  --qelp-button-secondary-active-text-decoration: none;
  --qelp-button-secondary-active-border: 1px solid transparent;
  --qelp-button-secondary-active-color: #575756;
  --qelp-button-secondary-active-background-color: #E2E4E1;

  --qelp-button-secondary-disabled-text-decoration: none;
  --qelp-button-secondary-disabled-border: 1px solid transparent;
  --qelp-button-secondary-disabled-color: #575756;
  --qelp-button-secondary-disabled-background-color: #E2E4E1;

  /* Others button rules - general */
  --qelp-button-border-radius: 5px;

  /* CARDS VARIABLES */

  /* Product Tiles */
  --qelp-product-tiles-color: #CD0400;
  --qelp-product-tiles-background-color: #F8F8F8;
  --qelp-product-tiles-box-shadow: none;
  --qelp-product-tiles-border: 2px solid transparent;

  --qelp-product-tiles-hover-color: #DF2700;
  --qelp-product-tiles-hover-background-color: #F8F8F8;
  --qelp-product-tiles-hover-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
  --qelp-product-tiles-hover-border: 2px solid transparent;

  --qelp-product-tiles-focus-color: #801500;
  --qelp-product-tiles-focus-background-color: #F8F8F8;
  --qelp-product-tiles-focus-box-shadow: none;
  --qelp-product-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-product-tiles-active-color: #801500;
  --qelp-product-tiles-active-background-color: #F8F8F8;
  --qelp-product-tiles-active-box-shadow: none;
  --qelp-product-tiles-active-border: 2px solid #CD0400;

  --qelp-product-tiles-border-radius: 5px;

  /* Manufacturer Tiles */
  --qelp-manufacturer-tiles-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  --qelp-manufacturer-tiles-border: 2px solid transparent;

  --qelp-manufacturer-tiles-hover-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-hover-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  --qelp-manufacturer-tiles-hover-border: 2px solid transparent;

  --qelp-manufacturer-tiles-focus-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-focus-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-manufacturer-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-manufacturer-tiles-active-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-manufacturer-tiles-active-border: 2px solid #CD0400;

  --qelp-manufacturer-tiles-border-radius: 20px;

  /* OS Tiles */
  --qelp-os-tiles-color: #CD0400;
  --qelp-os-tiles-background-color: #FFFFFF;
  --qelp-os-tiles-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-border: 2px solid transparent;

  --qelp-os-tiles-hover-color: #DF2700;
  --qelp-os-tiles-hover-background-color: #FFFFFF;
  --qelp-os-tiles-hover-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  --qelp-os-tiles-hover-border: 2px solid transparent;

  --qelp-os-tiles-focus-color: #801500;
  --qelp-os-tiles-focus-background-color: #FFFFFF;
  --qelp-os-tiles-focus-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-os-tiles-active-color: #801500;
  --qelp-os-tiles-active-background-color: #FFFFFF;
  --qelp-os-tiles-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-active-border: 2px solid #CD0400;

  --qelp-os-tiles-border-radius: 5px;

  /* ACCORDION VARIABLES */

  --qelp-accordion-title-font-family: 'Circular Book';
  --qelp-accordion-title-font-size: 20px;
  --qelp-accordion-title-line-height: 30px;
  --qelp-accordion-title-font-weight: 700;

  /* BREADCRUMB VARIABLES */

  --qelp-breadcrumb-font-family: 'Circular Book';
  --qelp-breadcrumb-font-size: 20px;
  --qelp-breadcrumb-line-height: 30px;
  --qelp-breadcrumb-font-weight: 700;
  --qelp-breadcrumb-font-color: #CD0400;
  --qelp-breadcrumb-font-color-hover: #DF2700;
  --qelp-breadcrumb-font-color-active: #801500;
  --qelp-breadcrumb-active-font-color: #444444;

  /* NAVIGATION LINKS VARIABLES */

  --qelp-navigation-links-font-family: 'Circular Book';
  --qelp-navigation-links-font-size: 16px;
  --qelp-navigation-links-line-height: 22px;
  --qelp-navigation-links-font-weight: 400;
  --qelp-navigation-links-icon-color: #CD0400;
  --qelp-navigation-links-icon-color-hover: #DF2700;
  --qelp-navigation-links-icon-color-active: #801500;
  --qelp-navigation-links-text-color: #CD0400;
  --qelp-navigation-links-text-color-hover: #DF2700;
  --qelp-navigation-links-text-color-active: #801500;

  /* CATEGORY TOPICS VARIABLES */

  --qelp-category-topics-title-font-family: 'Circular Book';
  --qelp-category-topics-title-font-size: 20px;
  --qelp-category-topics-title-line-height: 30px;
  --qelp-category-topics-title-font-weight: 700;

  /* LIST ITEMS VARIABLES */

  --qelp-list-items-font-family: 'Circular Book';
  --qelp-list-items-font-size: 16px;
  --qelp-list-items-line-height: 22px;
  --qelp-list-items-font-weight: 400;
  --qelp-list-items-text-color: #595B61;
  --qelp-list-items-text-color-hover: #3F4145;
  --qelp-list-items-text-color-active: #27282B;
  --qelp-list-items-icon-color: #CD0400;

  /* FEATURED COMPONENTS VARIABLES */

  /* Categories */
  --qelp-featured-categories-button-position: flex-start;

  /* Topics */
  --qelp-featured-topics-button-position: flex-start;

  /* Devices */
  --qelp-featured-devices-button-position: flex-start;

  /* Manufacturers */
  --qelp-featured-manufacturers-button-position: flex-start;

  /* Category Topics */
  --qelp-featured-category-topics-button-position: flex-start;


  /* BACKGROUNDS */

  /* Search */
  --qelp-search-background: #F8F8F8;

  /* GENERAL VARIABLES */
  --qelp-space-unit: 5px;

  --qelp-spacer: 40px;
  --qelp-spacer-mobile: 40px;
}
