:root {
  /* GENERAL COLOR VARIABLES */
  --qelp-link:#38BC15;
  --qelp-link-hover:#2A8E10;
  --qelp-link-active:#1D600B;
  --qelp-accent:#EF3E33;
  --qelp-accent-hover:#DE1D11;
  --qelp-accent-active:#AF170E;
  --qelp-headers:#666666;
  --qelp-headers-hover:#4D4D4D;
  --qelp-headers-active:#333333;
  --qelp-body:#9B9B9B;
  --qelp-body-hover:#828282;
  --qelp-body-active:#696969;
  --qelp-muted:#ABB5BA;
  --qelp-muted-hover:#8F9CA3;
  --qelp-muted-active:#73848C;
  --qelp-line:#E3E6E8;
  --qelp-line-hover:#C7CED1;
  --qelp-line-active:#ABB5BA;
  --qelp-tint:#F8F8F8;
  --qelp-tint-hover:#DBDFE1;
  --qelp-tint-active:#BEC6CA;
  --qelp-light:#FFFFFF;
  --qelp-background:#F3F3F3;
  --qelp-qlicker:#EF3E33;
  --qelp-qlicker-pulse:#AF170E;
  --qelp-error:#BA0000;

  /* FONT VARIABLES */
  --qelp-font-family: 'din-regular-webfont';
  --qelp-font-family-light: 'din-regular-webfont';
  --qelp-font-family-bold: 'din-regular-webfont';

  --qelp-h1-desktop-font-size: 42px;
  --qelp-h1-desktop-line-height: 60px;
  --qelp-h1-desktop-font-weight: 800;

  --qelp-h1-mobile-font-size: 30px;
  --qelp-h1-mobile-line-height: 40px;
  --qelp-h1-mobile-font-weight: 800;

  --qelp-h2-font-size: 24px;
  --qelp-h2-line-height: 35px;
  --qelp-h2-font-weight: 700;

  --qelp-h3-font-size: 18px;
  --qelp-h3-line-height: 30px;
  --qelp-h3-font-weight: 400;

  --qelp-body-font-size: 16px;
  --qelp-body-line-height: 22px;
  --qelp-body-font-weight: 400;

  --qelp-small-font-size: 13px;
  --qelp-small-line-height: 15px;
  --qelp-small-font-weight: 400;

  /* BUTTON VARIABLES */

  /* Normal - size and font */
  --qelp-button-normal-font-size: 16px;
  --qelp-button-normal-line-height: 15px;
  --qelp-button-normal-font-weight: 700;
  --qelp-button-normal-min-width: 68px;

  /* Large - size and font */
  --qelp-button-large-font-size: 18px;
  --qelp-button-large-line-height: 15px;
  --qelp-button-large-font-weight: 700;

  /* Primary - styles and colors */
  --qelp-button-primary-background-color: #38BC15;
  --qelp-button-primary-color: #FFFFFF;
  --qelp-button-primary-text-decoration: none;

  --qelp-button-primary-hover-background-color: #31A412;
  --qelp-button-primary-hover-color: #FFFFFF;
  --qelp-button-primary-hover-text-decoration: none;

  --qelp-button-primary-focus-border: 1px solid #FFFFFF;
  --qelp-button-primary-focus-outline: none;
  --qelp-button-primary-focus-text-decoration: none;
  --qelp-button-primary-focus-background-color: #31A412;
  --qelp-button-primary-focus-color: #FFFFFF;
  --qelp-button-primary-focus-box-shadow: 0 0 0 1px #666666;

  --qelp-button-primary-active-text-decoration: none;
  --qelp-button-primary-active-background-color: #31A412;
  --qelp-button-primary-active-color: #FFFFFF;

  --qelp-button-primary-disabled-text-decoration: none;
  --qelp-button-primary-disabled-background-color: #ABB5BA;
  --qelp-button-primary-disabled-color: #FFFFFF;

  /* Secondary - styles and colors */
  --qelp-button-secondary-background-color: transparent;
  --qelp-button-secondary-color: #9B9B9B;
  --qelp-button-secondary-border: 1px solid #9B9B9B;
  --qelp-button-secondary-text-decoration: none;

  --qelp-button-secondary-hover-text-decoration: none;
  --qelp-button-secondary-hover-border: 1px solid #666666;
  --qelp-button-secondary-hover-color: #666666;
  --qelp-button-secondary-hover-background-color: transparent;

  --qelp-button-secondary-focus-outline: none;
  --qelp-button-secondary-focus-text-decoration: none;
  --qelp-button-secondary-focus-border: 1px solid #666666;
  --qelp-button-secondary-focus-color: #666666;
  --qelp-button-secondary-focus-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #666666;
  --qelp-button-secondary-focus-background-color: transparent;

  --qelp-button-secondary-active-text-decoration: none;
  --qelp-button-secondary-active-border: 1px solid #666666;
  --qelp-button-secondary-active-color: #666666;
  --qelp-button-secondary-active-background-color: transparent;

  --qelp-button-secondary-disabled-text-decoration: none;
  --qelp-button-secondary-disabled-border: 1px solid #DDDDDD;
  --qelp-button-secondary-disabled-color: #DDDDDD;
  --qelp-button-secondary-disabled-background-color: transparent;


  /* Others - general */
  --qelp-button-border-radius: 32px;

  /* GENERAL VARIABLES */
  --qelp-space-unit: 5px;
}

@font-face {
  font-family: 'din-regular-webfont';
  src: local('din-regular-webfont'), url('https://brunoeris.github.io/store-assets/assets/scarlet/fonts/din-regular-webfont.woff2') format('woff2');
}
