:root {
  /* GENERAL COLOR VARIABLES */
  --qelp-link:#FF007D;
  --qelp-link-hover:#CC0063;
  --qelp-link-active:#99004A;
  --qelp-link-secondary:#160004;
  --qelp-link-secondary-hover:#000000;
  --qelp-link-secondary-active:#000000;
  --qelp-accent:#FF007D;
  --qelp-accent-hover:#CC0063;
  --qelp-accent-active:#99004A;
  --qelp-headers:#000000;
  --qelp-headers-hover:#000000;
  --qelp-headers-active:#000000;
  --qelp-headers-secondary:#000000;
  --qelp-headers-secondary-hover:#000000;
  --qelp-headers-secondary-active:#000000;
  --qelp-headers-dark-bg:#FFFFFF;
  --qelp-headers-dark-bg-hover:#FFFFFF;
  --qelp-headers-dark-bg-active:#FFFFFF;
  --qelp-body:#121212;
  --qelp-body-hover:#121212;
  --qelp-body-active:#121212;
  --qelp-muted:#656565;
  --qelp-muted-hover:#4D4D4D;
  --qelp-muted-active:#333333;
  --qelp-line:#AAAAAA;
  --qelp-line-hover:#B3B3B3;
  --qelp-line-active:#999999;
  --qelp-tint:#E7E7E7;
  --qelp-tint-hover:#CCCCCC;
  --qelp-tint-active:#B3B3B3;
  --qelp-light:#FFFFFF;
  --qelp-background:#F2F2F2;
  --qelp-background-accent:#F2F2F2;
  --qelp-background-light:#F6F6F6;
  --qelp-background-dark:#000000;
  --qelp-qlicker:#FF007D;
  --qelp-qlicker-pulse:#CC0063;
  --qelp-error:#CD0400;

  /* FONT VARIABLES */
  --qelp-font-family: 'Circular Book';
  --qelp-font-family-light: 'Circular Book';
  --qelp-font-family-bold: 'Circular Bold';

  --qelp-font-family-secondary: 'Circular Book';
  --qelp-font-family-secondary-light: 'Circular Book';
  --qelp-font-family-secondary-bold: 'Circular Bold';

  --qelp-h1-font-family: 'Circular Bold';
  --qelp-h1-font-size: 32px;
  --qelp-h1-line-height: 60px;
  --qelp-h1-font-weight: 800;
  --qelp-h1-color: #000000;

  --qelp-h1-mobile-font-family: 'Circular Bold';
  --qelp-h1-mobile-font-size: 30px;
  --qelp-h1-mobile-line-height: 40px;
  --qelp-h1-mobile-font-weight: 800;
  --qelp-h1-mobile-color: #000000;

  --qelp-h2-font-family: 'Circular Bold';
  --qelp-h2-font-size: 18px;
  --qelp-h2-line-height: 35px;
  --qelp-h2-font-weight: 700;
  --qelp-h2-color: #000000;

  --qelp-h2-mobile-font-family: 'Circular Bold';
  --qelp-h2-mobile-font-size: 18px;
  --qelp-h2-mobile-line-height: 35px;
  --qelp-h2-mobile-font-weight: 700;
  --qelp-h2-mobile-color: #000000;

  --qelp-h3-font-family: 'Circular Book';
  --qelp-h3-font-size: 18px;
  --qelp-h3-line-height: 30px;
  --qelp-h3-font-weight: 700;
  --qelp-h3-color: #000000;

  --qelp-h3-mobile-font-family: 'Circular Book';
  --qelp-h3-mobile-font-size: 18px;
  --qelp-h3-mobile-line-height: 30px;
  --qelp-h3-mobile-font-weight: 700;
  --qelp-h3-mobile-color: #000000;

  --qelp-body-font-family: 'Circular Book';
  --qelp-body-font-size: 16px;
  --qelp-body-line-height: 22px;
  --qelp-body-font-weight: 400;

  --qelp-body-bold-font-family: 'Circular Book';
  --qelp-body-bold-font-size: 16px;
  --qelp-body-bold-line-height: 22px;
  --qelp-body-bold-font-weight: 700;

  --qelp-body-cards-font-family: 'Circular Book';
  --qelp-body-cards-font-size: 12px;
  --qelp-body-cards-line-height: 15px;
  --qelp-body-cards-font-weight: 400;

  --qelp-body-cards-mobile-font-family: 'Circular Book';
  --qelp-body-cards-mobile-font-size: 12px;
  --qelp-body-cards-mobile-line-height: 15px;
  --qelp-body-cards-mobile-font-weight: 400;

  --qelp-small-font-family: 'Circular Book';
  --qelp-small-font-size: 13px;
  --qelp-small-line-height: 15px;
  --qelp-small-font-weight: 400;

  /* BUTTON VARIABLES */

  /* Normal - size and font */
  --qelp-button-normal-font-family: 'Circular Book';
  --qelp-button-normal-font-size: 16px;
  --qelp-button-normal-line-height: 15px;
  --qelp-button-normal-font-weight: 700;
  --qelp-button-normal-min-width: 68px;
  --qelp-button-normal-text-transform: uppercase;

  /* Large - size and font */
  --qelp-button-large-font-family: 'Circular Book';
  --qelp-button-large-font-size: 18px;
  --qelp-button-large-line-height: 15px;
  --qelp-button-large-font-weight: 700;
  --qelp-button-large-min-width: 78px;
  --qelp-button-normal-text-transform: uppercase;

  /* Primary - styles and colors */
  --qelp-button-primary-background-color: #FF007D;
  --qelp-button-primary-color: #FFFFFF;
  --qelp-button-primary-text-decoration: none;

  --qelp-button-primary-hover-background-color: #CC0063;
  --qelp-button-primary-hover-color: #FFFFFF;
  --qelp-button-primary-hover-text-decoration: none;

  --qelp-button-primary-focus-border: 1px solid transparent;
  --qelp-button-primary-focus-outline: none;
  --qelp-button-primary-focus-text-decoration: none;
  --qelp-button-primary-focus-background-color: #FF007D;
  --qelp-button-primary-focus-color: #FFFFFF;
  --qelp-button-primary-focus-box-shadow: 0 0 0 1px #333333;

  --qelp-button-primary-active-text-decoration: none;
  --qelp-button-primary-active-background-color: #99004A;
  --qelp-button-primary-active-color: #FFFFFF;

  --qelp-button-primary-disabled-text-decoration: none;
  --qelp-button-primary-disabled-background-color: #AAAAAA;
  --qelp-button-primary-disabled-color: #FFFFFF;

  /* Secondary - styles and colors */
  --qelp-button-secondary-background-color: transparent;
  --qelp-button-secondary-color: #FF007D;
  --qelp-button-secondary-border: 1px solid #FF007D;
  --qelp-button-secondary-text-decoration: none;

  --qelp-button-secondary-hover-text-decoration: none;
  --qelp-button-secondary-hover-border: 1px solid #CC0063;
  --qelp-button-secondary-hover-color: #CC0063;
  --qelp-button-secondary-hover-background-color: transparent;

  --qelp-button-secondary-focus-outline: none;
  --qelp-button-secondary-focus-text-decoration: none;
  --qelp-button-secondary-focus-border: 1px solid #FF007D;
  --qelp-button-secondary-focus-color: #FF007D;
  --qelp-button-secondary-focus-box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 2px #333333;
  --qelp-button-secondary-focus-background-color: transparent;

  --qelp-button-secondary-active-text-decoration: none;
  --qelp-button-secondary-active-border: 1px solid #99004A;
  --qelp-button-secondary-active-color: #99004A;
  --qelp-button-secondary-active-background-color: transparent;

  --qelp-button-secondary-disabled-text-decoration: none;
  --qelp-button-secondary-disabled-border: 1px solid #AAAAAA;
  --qelp-button-secondary-disabled-color: #AAAAAA;
  --qelp-button-secondary-disabled-background-color: transparent;

  /* Others - general */
  --qelp-button-border-radius: 0px;

  /* CARDS VARIABLES */

  /* Product Tiles */
  --qelp-product-tiles-color: #FF007D;
  --qelp-product-tiles-background-color: #F8F8F8;
  --qelp-product-tiles-box-shadow: none;
  --qelp-product-tiles-border: 2px solid transparent;

  --qelp-product-tiles-hover-color: #CC0063;
  --qelp-product-tiles-hover-background-color: #F8F8F8;
  --qelp-product-tiles-hover-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
  --qelp-product-tiles-hover-border: 2px solid transparent;

  --qelp-product-tiles-focus-color: #99004A;
  --qelp-product-tiles-focus-background-color: #F8F8F8;
  --qelp-product-tiles-focus-box-shadow: none;
  --qelp-product-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-product-tiles-active-color: #99004A;
  --qelp-product-tiles-active-background-color: #F8F8F8;
  --qelp-product-tiles-active-box-shadow: none;
  --qelp-product-tiles-active-border: 2px solid #FF007D;

  --qelp-product-tiles-border-radius: 5px;

  /* Manufacturer Tiles */
  --qelp-manufacturer-tiles-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  --qelp-manufacturer-tiles-border: 2px solid transparent;

  --qelp-manufacturer-tiles-hover-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-hover-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  --qelp-manufacturer-tiles-hover-border: 2px solid transparent;

  --qelp-manufacturer-tiles-focus-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-focus-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-manufacturer-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-manufacturer-tiles-active-background-color: #FFFFFF;
  --qelp-manufacturer-tiles-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-manufacturer-tiles-active-border: 2px solid #FF007D;

  --qelp-manufacturer-tiles-border-radius: 20px;

  /* OS Tiles */
  --qelp-os-tiles-color: #FF007D;
  --qelp-os-tiles-background-color: #FFFFFF;
  --qelp-os-tiles-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-border: 2px solid transparent;

  --qelp-os-tiles-hover-color: #CC0063;
  --qelp-os-tiles-hover-background-color: #FFFFFF;
  --qelp-os-tiles-hover-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  --qelp-os-tiles-hover-border: 2px solid transparent;

  --qelp-os-tiles-focus-color: #99004A;
  --qelp-os-tiles-focus-background-color: #FFFFFF;
  --qelp-os-tiles-focus-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-focus-border: 2px solid #4D4D4D;

  --qelp-os-tiles-active-color: #99004A;
  --qelp-os-tiles-active-background-color: #FFFFFF;
  --qelp-os-tiles-active-box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
  --qelp-os-tiles-active-border: 2px solid #FF007D;

  --qelp-os-tiles-border-radius: 5px;

  /* ACCORDION VARIABLES */

  --qelp-accordion-title-font-family: 'Circular Book';
  --qelp-accordion-title-font-size: 18px;
  --qelp-accordion-title-line-height: 30px;
  --qelp-accordion-title-font-weight: 700;

  /* BREADCRUMB VARIABLES */

  --qelp-breadcrumb-font-family: 'Circular Book';
  --qelp-breadcrumb-font-size: 18px;
  --qelp-breadcrumb-line-height: 30px;
  --qelp-breadcrumb-font-weight: 700;
  --qelp-breadcrumb-font-color: #FF007D;
  --qelp-breadcrumb-font-color-hover: #CC0063;
  --qelp-breadcrumb-font-color-active: #99004A;
  --qelp-breadcrumb-active-font-color: #121212;

  /* NAVIGATION LINKS VARIABLES */

  --qelp-navigation-links-font-family: 'Circular Book';
  --qelp-navigation-links-font-size: 16px;
  --qelp-navigation-links-line-height: 22px;
  --qelp-navigation-links-font-weight: 400;
  --qelp-navigation-links-icon-color: #FF007D;
  --qelp-navigation-links-icon-color-hover: #CC0063;
  --qelp-navigation-links-icon-color-active: #99004A;
  --qelp-navigation-links-text-color: #FF007D;
  --qelp-navigation-links-text-color-hover: #CC0063;
  --qelp-navigation-links-text-color-active: #99004A;

  /* CATEGORY TOPICS VARIABLES */

  --qelp-category-topics-title-font-family: 'Circular Book';
  --qelp-category-topics-title-font-size: 18px;
  --qelp-category-topics-title-line-height: 30px;
  --qelp-category-topics-title-font-weight: 700;
  --qelp-category-topics-title-text-color: #000000;

  /* LIST ITEMS VARIABLES */

  --qelp-list-items-font-family: 'Circular Book';
  --qelp-list-items-font-size: 16px;
  --qelp-list-items-line-height: 22px;
  --qelp-list-items-font-weight: 400;
  --qelp-list-items-text-color: #FF007D;
  --qelp-list-items-text-color-hover: #CC0063;
  --qelp-list-items-text-color-active: #99004A;
  --qelp-list-items-icon-color: #FF007D;

  /* FEATURED COMPONENTS VARIABLES */

  /* Categories */
  --qelp-featured-categories-button-position: flex-end;

  /* Topics */
  --qelp-featured-topics-button-position: flex-start;

  /* Devices */
  --qelp-featured-devices-button-position: flex-start;

  /* Manufacturers */
  --qelp-featured-manufacturers-button-position: flex-start;

  /* Category Topics */
  --qelp-featured-category-topics-button-position: flex-start;


  /* BACKGROUNDS */

  /* Search */
  --qelp-search-background: #F8F8F8;

  /* GENERAL VARIABLES */
  --qelp-space-unit: 5px;

  --qelp-spacer: 40px;
  --qelp-spacer-mobile: 40px;
}
